<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>jsons</display-name>
    <welcome-file-list>
        <welcome-file>index_json_request_1.html</welcome-file>
    </welcome-file-list>
    <filter>
        <description>Access access-control-allow-origin to all</description>
        <filter-name>Cross-Domain-Policy</filter-name>
        <filter-class>com.jsons.filter.CORSFilter</filter-class>
    </filter>
    <filter>
        <description>Clear browser cache</description>
        <filter-name>Clear-Cache-Filter</filter-name>
        <filter-class>com.jsons.filter.CacheControlFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Cross-Domain-Policy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ConfigController</servlet-name>
        <servlet-class>com.jsons.controller.ConfigController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigController</servlet-name>
        <url-pattern>/configs.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
